.listing-section {
    height: auto;
    margin: 0 auto -80px;
    min-height: 100%;
    padding: 0 0 80px;
    box-sizing: border-box;
    overflow: auto;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    margin-left: 20%;
    width: 50%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: red;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 5%;
}

.card-carousel .my-card {
    height: 20rem;
    width: 12rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
}

.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card.prev,
.card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card:nth-child(0):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.Menu {
    margin-top: 20px;
    width: 250px;
    position: relative;
    float: left;
    overflow: hidden;
    background-color: fff;
    flex-direction: column;
    height: auto;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, .4);
    will-change: transform;
}

.Category-item {
    font-weight: 500;
    color: #969397;
    text-transform: uppercase;
}

ul.Category {
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 30px;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    will-change: transform;
}

.section {
    margin-bottom: 0!important;
}

.section-header {
    margin-bottom: 10px!important;
}

.section-header-name {
    margin-left: 15px;
    line-height: 15px!important;
    font-size: 13px!important;
    font-weight: 700!important;
}

.section-list {
    list-style: none;
    margin-bottom: 18px!important;
    color: #111;
}

.price-range {
    color: #111;
    border-left-width: 0;
    border-right-width: 0;
}

.price-box {
    padding-left: 18px;
    width: 80px;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
    margin-top: 6px!important;
    box-sizing: border-box;
}

.section-name {
    float: inline-end;
}