.green-text {
    color: #28a745;
}
.red-text {
    color: #dc3545;
}
.sub-nav-active {
    font-weight: bold;
}
.nav-icon {
    font-size: 25px;
}
.fa-star.checked {
    color: orange;
}
.lfloat {
    float: left;
}
