
{% extends "base.html" %}
{% load i18n %}
{% block title %}Shipment{% endblock %}
{% block content %}

<div class="container" style="text-align:center;width:50%;margin-top:25px">
                <div class="block-heading">
                    <h2 class="text-info">Shipment</h2>
                </div>
                <div class="content" >
                                <form method="POST" action="/en/shipment/confirm/" class="confirm--shipment">{% csrf_token %}
        <label> Name </label>
        <div >{{form.name}}</div>
        <label>Surname</label>
        <div>{{form.surname}}</div>
        <label>Email</label>
        <div >{{form.email}}</div>
        <label>Phone Number</label>
        <div>{{form.phone}}</div>
        <label>City</label>
        <div >{{form.city}}</div>
        <label>District</label>
        <div >{{form.district}}</div>
        <label>Neighborhood</label>
        <div >{{form.neighborhood}}</div>
        <label>Others</label>
        <div >{{form.others}}</div>
        <button class="btn btn-primary btn-block btn-lg" style="margin:auto;width:40%;margin-top:25px;" type="submit">Confirm</button>

                                </form>
                            </div>

            </div>
<label id="ib7o" class="label" style="width:0px;height:0px"></label>

  <div class="cell" id="i8jb5n" style="width:0px;height:0px">
  </div>


{% endblock %}